<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easy Log</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>

  <section class="hero is-primary">
    <div class="hero-body">
      <h1 class="title">
        Easy Log
      </h1>
      <h2 class="subtitle">
        A lightweight and easy way to log events on your application.
      </h2>
    </div>

    <div class="hero-footer">
      <nav class="navbar">
        <div class="container">

          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a href="{{ url_for('index') }}" class="navbar-item">
                Home
              </a>
              <a href="{{ url_for('login') }}" class="navbar-item">
                Login
              </a>
              {% if current_user.username %}
              <a href="{{ url_for('log_form') }}" class="navbar-item">
                Log Event
              </a>
              <a href="{{ url_for('current_logs') }}" class="navbar-item">
                Show Logs
              </a>
              <a href="{{ url_for('insights') }}" class="navbar-item">
                Insights
              </a>
              <a href="{{ url_for('logout') }}" class="navbar-item">
                Logout
              </a>
              {% endif %}

            </div>
          </div>
        </div>
      </nav>
    </div>

  </section>

  {% block content %}
  {% endblock %}


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Easy Log</strong> by <a href="https://github.com/dscorzoni">Danilo Scorzoni Re</a>.
      </p>
    </div>
  </footer>

</body>

</html>