{% extends "base.html" %}

{% block content %}



{% if current_user.id %}
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "{{url_for('log_event')}}",
            contentType: 'application/json',
            data: JSON.stringify({ "log_string": "load_page_index" }),
            error: function (error) { alert(error); }
        });
        $(window).bind('beforeunload', function () {
            $.ajax({
                type: "POST",
                url: "{{url_for('log_event')}}",
                contentType: 'application/json',
                data: JSON.stringify({ "log_string": "exit_page_index" }),
                error: function (error) { alert(error); }
            });
        });
    });


</script>
{% endif %}

{% endblock %}