{% extends "base.html" %}

{% block content %}


<section class="section">
    <div class="container">
        <h1 class="title">Insights</h1>
        <h2 class="subtitle">
            In this page you can see insights extracted from your logs.
        </h2>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>


        <div class="columns">
            <div class="column">
                <b>Chart 1 - </b>Log events per time.
                <div class="chart-container" style="position: relative; height:40vh; width:40vw">
                    <canvas id="chart_1"></canvas>
                    <script>
                        var ctx = document.getElementById('chart_1').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'bar',

                            // The data for our dataset
                            data: {
                                labels: [
                                    {% for x in xset %}
                                    "{{x}}",
                                    {% endfor %}
                                ],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(3, 157, 252)',
                            borderColor: 'rgb(0, 76, 122)',
                            data: [
                                {% for y in yset %}
                                    "{{y}}",
                        {% endfor %}
                        ],
                            }]
                        },

                        // Configuration options go here

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        },
                        });
                    </script>
                </div>



            </div>
            <div class="column">
                <b>Chart 2 - </b>Time series of log events.
                <div class="chart-container" style="position: relative; height:40vh; width:40vw">
                    <canvas id="chart_2"></canvas>
                    <script>
                        var ctx = document.getElementById('chart_2').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'line',

                            // The data for our dataset
                            data: {
                                labels: [
                                    {% for x in xset %}
                                    "{{x}}",
                                    {% endfor %}
                                ],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [
                                {% for y in yset %}
                                    "{{y}}",
                        {% endfor %}
                        ]
                                }]
                            },

                        // Configuration options go here
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                        });
                    </script>
                </div>


            </div>
        </div>


    </div>
</section>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "{{url_for('log_event')}}",
            contentType: 'application/json',
            data: JSON.stringify({ "log_string": "page_insights_load" }),
            error: function (error) { alert(error); }
        });
    });
</script>

{% endblock %}