<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log Tool</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">
                Log Tool
            </h1>
            <h2 class="subtitle">
                A lightweight and easy way to log events on your application.
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Log Form Page</h1>
            <h2 class="subtitle">
                In this page you can submit your log string.
            </h2>
            <section class="section">
                <form class="form-signin" method="post" action="/log_action">
                <div class="field">
                    <label class="label">Logger string</label>
                    <div class="control">
                        <input class="input" type="text" name="log_string" placeholder="log string">
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                </form>
        
            </section>
        </div>
    </section>

    

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Log Tool</strong> by <a href="https://github.com/dscorzoni">Danilo Scorzoni Re</a>.
            </p>
        </div>
    </footer>

</body>

</html>