{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Log Form Page</h1>
            <h2 class="subtitle">
                In this page you can submit your log string.
            </h2>
            <section class="section">
                <form class="form-signin" method="post" action="/log_action">

                    <div class="field">
                        <label class="label">Logger string</label>
                        <div class="control">
                            <input class="input" type="text" name="log_string" placeholder="log string">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                </form>

            </section>
        </div>
    </section>

    
{% endblock %}